<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAHZbaU_jEqzn3FuxqU1VWzJuKD04uOzKE</string>
	<key>GCM_SENDER_ID</key>
	<string>905947356572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.traductionAprentissageLangues</string>
	<key>PROJECT_ID</key>
	<string>traductionapprentissagelangues</string>
	<key>STORAGE_BUCKET</key>
	<string>traductionapprentissagelangues.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:905947356572:ios:cd194dc28747c83e1dbc59</string>
</dict>
</plist>